# Node
node_modules/
.next/
out/
*.tsbuildinfo

# Env
.env
.env.local
.env.development
.env.production
.env.test

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Prisma
prisma/dev.db
prisma/dev.db-journal

# OS
.DS_Store
Thumbs.db
